@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(https://rewritely.io/_next/static/media/hero-section-mobile-bg.f0e4a921.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-container {
    display: flex;
    background-color: white;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;

}

.logo {
    width: 120px;
    margin-left: 20px;
}

.Premium {
    display: flex;
    align-items: center;
    gap: 10px;
}



.prm-btn {
    font-size: 10px;
    margin: 10px 0;
    background-color: #4d00ff;
    border-radius: 6px;
    color: white;
    padding: 0px 10px;
}

nav {}

.dropdown {
    display: inline-block;
    transform: rotate(90deg);
}

.other {
    margin-left: 1.75rem;
    display: flex;
    align-items: center;
}

ul {
    display: flex;

}

li {
    list-style: none;
    padding: 0 1rem;
}

a {

    text-decoration: none;
    color: black;
}

.language {
    align-content: center;
    margin-right: 10px;
    border: 1px none;
    border-radius: 7px;
}

.btn {
    display: flex;
    padding: 13px 0;

}

.login {
    background-color: #bae0ff;
    color: #1677ff;
    border: none;
    border-radius: 7px;
    margin: 5px 3px;
    padding: 0 25px;
    cursor: pointer;

}

.SignUp {

    background-color: #1677ff;
    border: none;
    border-radius: 7px;
    margin: 5px 3px;
    color: white;
    padding: 0 25px;
    cursor: pointer;


}

.burger-menu {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.rating-container {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    gap: 0.1rem;
}

.rating-container .rating {
    color: #1677ff;
}

.rating-container .toolbystudent {
    color: gray;
}
.main-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* making responsive except of writing tons of media queries */
    font-size: clamp(2rem,calc(4vw + 1rem),5rem); 

}
.main-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1vw, calc(1vw + 0.3rem), 5rem);}
.first-line-of-header {
    gap: 10px;
    font-weight: 600;
    color: rgb(54, 54, 54);
}

.second-line-of-header .with {
    color: rgb(54, 54, 54);

}

.second-line-of-header {
    gap: 10px;
    font-weight: 600;
}

.undetectableAi {
    color: #1677ff;
}

.Bypass-Ai-detection {
    font-weight: 600;
    color: gray
}

.description-line-1 {
    color: gray
}

.description-line-2 {
    font-weight: 600;
    color: gray;
    background-image: linear-gradient(to right, white, rgba(255, 255, 0, 0.644));
}



@media (max-width: 892px) {
    .nav-container {
        padding: 10px;
    }

    .logo {
        width: 120px;
    }

    ul {
        display: none;
    }

    li {}

    .burger-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        min-height: 2rem;
        min-width: 2rem;
        font-size: x-large;
    }



    .btn {
        display: none;
    }

  
}

@media (max-width: 400px) { 
    
    .main-heading{
        /* border: 2px solid; */
        /* making responsive except of writing tons of media queries */
        font-size: clamp(1rem, calc(3vw + 1rem), 3rem);
    
    }
    .main-description{
        
        font-size: clamp(1vw, calc(1vw + 0.2rem), 3rem);
    }
}